{% extends "base.html" %}

{% block content %}
<title>{% block title %}Mod Compras | Adicionar Item{% endblock %}</title>

<script>
    documente.title = Editar Ordem de Compra - Adicionar Item
</script>
<title>document.title</title>
TELA ADICIONAR ITEM À ORDEM DE COMPRA
<pre>
    limpar os campos apos clicar em atualizar
</pre>
<div class="page"
     xmlns="http://www.w3.org/1999/html">
    <form action="" method="POST">
        {{form_adicionar_item_ordem_compra.csrf_token}}
        <!-- div1 -->
        <div class="float-child-ordem-compra2">
            <div  class="borda_simples  container_com_barra_rolagem">
                <table class="table table-hover table-striped" style="position:sticky" cellpadding="2" cellspacing="2" id="">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Descrição</th>
                            <th>EAN</th>
                            <th>UN</th>
                            <th>VALOR</th>

                        </tr>
                    </thead>
                <tbody>

                {% if ordem_pesquisada is not none %}
                    {% if result_pesq_forn %}
                        {% for i in result_pesq_forn %}
<!--                    {% set contador_item = loop.index0 + 1 %}-->

                <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed"  >
                    <td>
                        <form method="POST">
                                    {{form_adicionar_item_ordem_compra.hidden_tag()}}
                                    <input type="hidden" name="incluir_item" value="{{i[2]}}">
                            {{form_adicionar_item_ordem_compra.botao_selecionar_item(class='btn btn-primary')}}
                        </form>
                    </td>
                    <td>{{i[4]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[7]}}</td>

                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">Nenhum fornecedor encontrado</td>

                </tr>
                {% endif %}
                {% endif %}

            </tbody>
            </table>
            </div>
            <br>
        </div>
        <div class="mb-1 float-child-ordem-compra1">

            <div class="col form-label btn btn-light">
                {{form_adicionar_item_ordem_compra.data.label}}
                {{form_adicionar_item_ordem_compra.data(class="form-control tam_campo_data", value=data)}}
            </div>
            <div class="col form-label btn btn-light">
                {{form_editar_ordem_compra.pesquisar_ordem_compra.label}}
                {% if ordem_compra is not none %}
                {{form_editar_ordem_compra.pesquisar_ordem_compra(class="form-control tam_campo_data", value=ordem_compra)}}
                {% else %}
                {{form_editar_ordem_compra.pesquisar_ordem_compra(class="form-control tam_campo_data, value=ordem_compra")}}
                {% endif %}
            </div>
            <br>
            <div class="col form-label btn btn-light">
                {{form_adicionar_item_ordem_compra.ean.label }}
                {{form_adicionar_item_ordem_compra.ean(class="form-control", id=item_a_incluir,  value=linha_selecionada[3])}}
            </div>
            <div class="col form-label btn btn-light">
                {{form_adicionar_item_ordem_compra.descricao.label}}
                {{form_adicionar_item_ordem_compra.descricao(class="form-control tam_campo_descricao", id=item_a_incluir, value=linha_selecionada[4])}}
            </div>
            <br>
            <br>
            <div class="col form-label btn btn-light">
                {{form_adicionar_item_ordem_compra.quantidade.label }}
                {{form_adicionar_item_ordem_compra.quantidade(class="form-control",  id=item_a_incluir, value=1) }}
            </div>


            <div class="col form-label btn btn-light">
                {{form_adicionar_item_ordem_compra.preco_unitario.label}}
                {{form_adicionar_item_ordem_compra.preco_unitario(class="form-control", id=item_a_incluir, value=linha_selecionada[7], id="preco_unitario") }}
            </div>

            <div class="btn">
                {{form_adicionar_item_ordem_compra.botao_incluir_item(class="btn btn-primary mt-3") }}
            </div>

            <div class="col form-label btn btn-light">

                {{form_adicionar_item_ordem_compra.botao_submit_ordem_alterada(class="btn btn-primary mt-3") }}
            </div>
            <div class="col form-label btn btn-light">
                {{form_adicionar_item_ordem_compra.botao_cancelar_alteracao_ordem(class="btn btn-primary mt-3") }}

            </div>
            <script src="static/js/pesquisa_produto.js" defer></script>

        </div>

    </form>

    <div class="mt-5 float-child-ordem-compra">
        <table class="table table-hover table-striped  " style="position:sticky" cellpadding="2" cellspacing="2" id="tabela-itens">

            <thead>
                <tr>
                    <th>Data</th>
                    <th>Ordem de Compra</th>
                    <th>Item</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                    <th>Categoria</th>
                    <th>Código</th>
                    <th>EAN</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Total Item</th>
                </tr>
            </thead>
            <tbody>

            {% if ordem_pesquisada is not none %}
                {% for i in ordem_pesquisada %}
                    {% set contador_item = loop.index0 + 1 %}
                <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed ">
                    <td>{{i[0] }}</td>
                    <td>{{ordem_compra }}</td>
                    <td>{{contador_item }}</td>
                    <td>{{i[3] }}</td> <!-- Descrição -->
                    <td>{{i[4] }}</td> <!-- Unidade -->
                    <td>{{i[5] }}</td> <!-- Categoria -->
                    <td>{{i[6] }}</td> <!-- Código -->
                    <td>{{i[7] }}</td> <!-- Ean -->
                    <td>{{i[8] }}</td> <!--quantidade -->
                    <td>{{i[9] }}</td> <!--preco unitario -->
                    <td>{{i[10] }}</td> <!--total item -->
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}



</div>