{% extends "base.html" %}

{% block content %}

<title>{% block title %}Mod Compras | Analisar Ordem{% endblock %}</title>
<pre>
        1 -ALT CAMPO ORDEM P/ COMBOBOX E VISUALIZAR APENAS ORDENS EM ABERTO | 2 - CRIAR OPÇÃO DE ELIMINAR SALDO DE PEDIDOS EM ABERTO | 3 - ALTERAR VISUALIZAÇÃO PARA SALDO DO PEDIDO, AO INVES DAS QTDES ORIGINAIS
    </pre>


<div class="div_secundaria">
    <form action="" method="POST">
        {{ form_analisar_ordem_de_compra.csrf_token }}
        <div class="float-child0"> <!-- tela de pesquisa -->
            <div class="mb-3 float-child-tela-pesquisa">
                PESQUISA<BR>
                <div  class="col form-label  btn btn-light">
                    {{ form_analisar_ordem_de_compra.data.label(class="form-label") }}
                    {{ form_analisar_ordem_de_compra.data(class="form-control tam_campo_data",  value=data) }}
                </div>
                <div  class="col form-label  btn btn-light">
                    {{ form_analisar_ordem_de_compra.ordem_compra.label(class="form-label") }}
                    {{ form_analisar_ordem_de_compra.ordem_compra(class="form-control tam_campo_codigo") }}
                </div>

                <div  class="col form-label  btn btn-light">
                    {{ form_analisar_ordem_de_compra.nf.label(class="form-label") }}
                    {{ form_analisar_ordem_de_compra.nf(class="form-control tam_campo_codigo") }}
                </div>

                <div  class="col form-label  btn btn-light">
                    {{ form_analisar_ordem_de_compra.razao_social.label(class="form-label") }}
                    {{ form_analisar_ordem_de_compra.razao_social(class="form-control tam_campo_descricao") }}
                </div>
                <div class="col form-label  btn btn-light">
                    {{ form_analisar_ordem_de_compra.botao_pesquisar_ordem_de_compra(class="btn btn-primary mt-3")  }}
                </div>
            </div>

            <div class="mb-3 float-child-resultado-busca-pedidos container_com_barra_rolagem"> <!-- resultado da busca -->
                RESULTADO
                <table class="table table-hover table-striped" style="position:sticky" cellpadding="2" cellspacing="2">
                    <thead>
                        <tr class="cab_tabela">
                            <th>DATA</th>
                            <th>COD FORNEC</th>
                            <th>FORNECEDOR</th>
                            <th>ORDEM</th>
                            <th>VALOR TOTAL</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for i in retorno_ordem_compra %}
                        <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed">
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
<!--                            <td><a href="#" title="clique para abrir" id="teste">{{ i[3] }}</a></td>-->
                            <td><button name="ordem_para_analise" type="submit" class="btn btn-success"  style="--bs-btn-padding-y: .02rem; --bs-btn-padding-x: 1.0rem; --bs-btn-font-size: 1.1rem;" value="{{ i[3] }}">{{ i[3] }}</button></td>
                            <td>{{ i[4] }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mb-3">
            <div class="col form-label ">
                 {{ form_analisar_ordem_de_compra.botao_liberar_recebimento(class="btn btn-primary mt-3")  }}
                 {{ form_analisar_ordem_de_compra.botao_recusar_recebimento(class="btn btn-primary mt-3")  }}
            </div>
        </div>
        <br>
        <div class="mb-3 float-child-analise-ordem-1 container_com_barra_rolagem"> <!-- pedido -->
            ORDEM DE COMPRA
                <table class="table table-hover table-striped  " style="position:sticky" cellpadding="2" cellspacing="2" id="tabela-itens">
                <thead>
                    <tr>
                        <th>EAN</th>
                        <th>DESCRIÇÃO</th>
                        <th>QUANTIDADE</th>
                        <th>VALOR UNITARIO</th>
                        <th>VALOR TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in detalhamento_ordem %}
                    <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed ">
                        <td>{{i[7]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[8]}}</td>
                        <td>{{i[9]}}</td>
                        <td>{{i[10]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="mb-3 float-child-analise-ordem-2 container_com_barra_rolagem"> <!-- nota fiscal -->
            NOTA FISCAL
            <table class="table table-hover table-striped  " style="position:sticky" cellpadding="2" cellspacing="2" >
                <thead>
                    <tr class="cab_tabela">
                        <th>EAN</th>
                        <th>QUANTIDADE</th>
                        <th>VALOR UNITARIO</th>
                        <th>VALOR TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in xml %}
                    <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed ">
                        <td>{{ i[0] }}</td>
                        <td>{{"%.0f" %  i[1] }}</td>
                        <td>{{"%.2f" %  i[2] }}</td>
                        <td>{{"%.2f" %  i[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>


    </form>
</div>
{% endblock %}