{% extends "base.html" %}

{% block content %}
TELA CADASTRAR PRODUTOS
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">

    <form action="" method="POST">
        {{ form_cad_produtos.csrf_token }}
        <pre>
                1 - AJUSTAR CODIGO PARA NÃO PRECISAR INSERIR FORNECEDOR A CADA LINHA DE PRODUTO CADASTRADA.
                2 - MANTER SESSÃO COM INFORMAÇÃO DO FORNECEDOR, ATÉ QUE SE CLIQUE EM CADASTRAR
                3 - LIMPAR A TELA AO CLICAR EM CADASTRAR
                4 - AO ENTRAR NA TELA NÃO DEVE APARECER NENHUM ALERT
                5 - INSERIR OPÇÃO PARA SUBIR AJUSTE DE PREÇO DIRETO NA TELA, OU BAIXAR PLANILHA
            </pre>
            {% if alert %}
                        {{ alert | safe }}
                    {% endif %}
        <div class="mb-3 float-child0"> <!-- tela de pesquisa -->

            <div class="mb-3 float-child-tela-pesquisa border border-2 border-primary">
            PESQUISA<br>
                <div class="col form-label mt-4 btn btn-light tam_campo_data">
                    {{ form_cad_produtos.data.label }}
                    {{ form_cad_produtos.data(class="form-control", value=data) }}
                </div>
                <div class="col form-label mt-4 btn btn-light  tam_campo_descricao">
                    {{ form_cad_produtos.fornecedor.label }}
                    {{ form_cad_produtos.fornecedor(class="form-control value={{ fornecedor }} select_field_customizada")}}
                </div>
                <br>
                <div class="col form-label mt-4 btn btn-light tam_campo_data">
                    {{ form_cad_produtos.ean.label }}
                    {{ form_cad_produtos.ean(class="form-control") }}
                </div>
                <div class="col form-label mt-4 btn btn-light tam_campo_data">
                    {{ form_cad_produtos.valor.label }}
                    {{ form_cad_produtos.valor(class="form-control") }}
                </div>
                <div class="col form-label mt-4 btn btn-light">
                    {{ form_cad_produtos.descricao.label }}
                    {{ form_cad_produtos.descricao(class="form-control") }}
                </div>
                <br>
                <div class="col form-label mt-4 btn btn-light">
                    {{ form_cad_produtos.unidade.label }}
                    {{ form_cad_produtos.unidade(class="form-control") }}
                </div>
                <div class="col form-label mt-4 btn btn-light">
                    {{ form_cad_produtos.categoria.label }}
                    {{ form_cad_produtos.categoria(class="form-control") }}

                </div>
                {{ form_cad_produtos.botao_incluir_item(class="btn btn-primary mt-5") }}
                <br>

                <div>
<!--                    {{ form_cad_produtos.botao_submit_cad_prod(class="btn btn-primary") }}-->
                </div>
            </div>

            <div class="float-child-resultado-busca-pedidos border border-2 border-primary"> <!-- resultado da busca -->
                TABELA DE ITENS A CADASTRAR
                <table class="table table-hover table-striped  " style="position:sticky" cellpadding="2" cellspacing="2" id="tabela-itens">
                    <thead>
                        <tr>
                            <th>DATA</th>
                            <th>FORNECEDOR</th>
                            <th>EAN</th>
                            <th>DESCRIÇÃO</th>
                            <th>UNID</th>
                            <th>CATEGORIA</th>
                            <th>VALOR</th>
                            <th>USUÁRIO</th>

                        </tr>
                    </thead>
                    <tbody>

                        {% for index, i in dicionario_cad_produtos %}
                            <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed ">
                                <td> {{ index }}</td>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[1] }}</td>
                                <td>{{ i[2] }}</td>
                                <td>{{ i[3] }}</td>
                                <td>{{ i[4] }}</td>
                                <td>{{ i[5] }}</td>
                                <td>{{ i[6] }}</td>
                                <td>{{ i[7] }}</td>
                                <td>
                                <form method="POST" action="{{ url_for('cadastrar_produtos') }}">
                                    {{ form_cad_produtos.hidden_tag() }}
                <input type="hidden" name="valor_produto" value="{{ i[1] }}">
                {{ form_cad_produtos.botao_excluir_cad_prod(class='btn btn-primary') }}
                                </form></td>


                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="mb-3">
                    {{ form_cad_produtos.botao_submit_cad_prod(class="btn btn-primary") }}

                    {{ form_cad_produtos.botao_cancelar_cad_prod(class="btn btn-secondary") }}

                </div>
            </div>
        </div>
            <div>
                ---

            </div>

    </form>
</div>
<!--
script 1: função para selecionar fornecedor
script 2: função para fechar o div alert depois de 4 segundos
 -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "Selecionar um fornecedor",
                allowClear: true
            });
        });

    </script>
    <script>
            $(document).ready(function()
               setTimeout(function() {
                    $("#alert-container").fadeOut("slow");
                }, 4000);
            });

    </script>

{% endblock %}