{% extends "base.html" %}

{% block content %}
TELA GERAR ORDEM DE COMPRA
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal"
     xmlns="http://www.w3.org/1999/html">
    <form action="" method="POST">
        {{ form_gerar_ordem_compra.csrf_token }}

        <div class="mb-3">
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.data.label }}
                {{ form_gerar_ordem_compra.data(class="form-control", value=data) }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.ordem_compra.label }}
                {{ form_gerar_ordem_compra.ordem_compra(class="form-control", value=ordem_compra) }}
            </div>
            <div></div>
            <div class="col form-label mt-4 btn btn-light"  >
                {{ form_gerar_ordem_compra.fornecedor.label }}
                {{ form_gerar_ordem_compra.fornecedor(class="form-control", value=resultado_pesquisa[2]) }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.categoria.label }}
                {{ form_gerar_ordem_compra.categoria(class="form-control", value=resultado_pesquisa[6]) }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.descricao.label }}
                {{ form_gerar_ordem_compra.descricao(class="form-control", value=resultado_pesquisa[4]) }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.unidade.label }}
                {{ form_gerar_ordem_compra.unidade(class="form-control", value=resultado_pesquisa[5]) }}
            </div>
            <div></div>
                <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.codigo.label }}
                {{ form_gerar_ordem_compra.codigo(class="form-control", value=resultado_pesquisa[1]) }}
            </div>

            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.ean.label }}
                {{ form_gerar_ordem_compra.ean(class="form-control", value=resultado_pesquisa[3]) }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.botao_pesquisar_item(class="btn btn-primary mt-3") }}
            </div>
                <button class="btn btn-primary mt-3" onclick="openPopup()"> Consulta</button>
            <div></div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.quantidade.label }}
                {{ form_gerar_ordem_compra.quantidade(class="form-control", value=1) }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_gerar_ordem_compra.botao_incluir_item(class="btn btn-primary mt-3") }}
            </div>

            <script src="static/js/pesquisa_produto.js" defer></script>

            <div></div>
            <div>
                {{  form_gerar_ordem_compra.botao_submit_compra(class="btn btn-primary mt-3") }}
            </div>

        </div>
    </form>
    <div class="mt-5">
        <table class="table table-hover table-striped  " style="position:sticky" cellpadding="2" cellspacing="2" id="tabela-itens">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <th>Data</th>
                    <th>Ordem de Compra</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                    <th>Categoria</th>
                    <th>Código</th>
                    <th>EAN</th>
                    <th>Quantidade</th>
                </tr>
                {% for i in dicionario_ordem_compra %}
                <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed ">
                    <td>{{ i[0] }}</td>
                    <td>{{ ordem_compra }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
