{% extends "base.html" %}
{% block content %}

<title>{% block title %}Mod Comercial | Adicionar Item{% endblock %}</title>
<body>
<form action="" method="POST">
  {{form_adicionar_item_ordem_venda.csrf_token}}

  <div class="page">
    <section class="box top-left">
      <section class="box top-left">
        <div class="col form-label btn btn-light">
          {{form_adicionar_item_ordem_venda.data.label}}
          {{form_adicionar_item_ordem_venda.data(class="form-control tam_campo_data", value=data)}}
        </div>
        <div class="col form-label btn btn-light">
          {{form_adicionar_item_ordem_venda.ordem_venda.label}}
          {{form_adicionar_item_ordem_venda.ordem_venda(class="form-control")}}
        </div>
        {{ form_adicionar_item_ordem_venda.botao_pesquisar_ordem_venda(class="btn btn-primary mt-3") }}
      </section>

      <div class="col form-label btn btn-light">
        {{form_adicionar_item_ordem_venda.codigo.label}}
        {{form_adicionar_item_ordem_venda.codigo(class="form-control")}}
      </div>
      <div class="col form-label btn btn-light">
        {{form_adicionar_item_ordem_venda.ean.label}}
        {{form_adicionar_item_ordem_venda.ean(class="form-control")}}
      </div>
      <div class="col form-label btn btn-light">
        {{form_adicionar_item_ordem_venda.descricao.label}}
        {{form_adicionar_item_ordem_venda.descricao(class="form-control")}}
      </div>
      <div class="col form-label btn btn-light">
        {{form_adicionar_item_ordem_venda.preco_unitario.label}}
        {{form_adicionar_item_ordem_venda.preco_unitario(class="form-control")}}
      </div>
      <div class="col form-label btn btn-light">
        {{form_adicionar_item_ordem_venda.quantidade.label}}
        {{form_adicionar_item_ordem_venda.quantidade(class="form-control")}}
      </div>
        {{ form_adicionar_item_ordem_venda.botao_incluir_item(class="btn btn-primary mt-3") }}
        <br>
        {{ form_adicionar_item_ordem_venda.botao_atualizar_ordem_venda(class="btn btn-primary mt-3") }}
        {{ form_adicionar_item_ordem_venda.botao_cancelar(class="btn btn-primary mt-3") }}


    </section>

    <section class="box top-right">
      <div class="col form-label btn btn-light">
        {{ form_adicionar_item_ordem_venda.pesquisar_descricao.label }}
        {{ form_adicionar_item_ordem_venda.pesquisar_descricao(class="form-control") }}
      </div>
      <div class="col form-label btn btn-light">
        {{ form_adicionar_item_ordem_venda.pesquisar_ean.label }}
        {{ form_adicionar_item_ordem_venda.pesquisar_ean(class="form-control") }}
      </div>
      <div class="col form-label btn btn-light">
        {{ form_adicionar_item_ordem_venda.pesquisar_categoria.label }}
        {{ form_adicionar_item_ordem_venda.pesquisar_categoria(class="form-control") }}
      </div>
      <div class="col form-label btn btn-light">
        {{ form_adicionar_item_ordem_venda.pesquisar_fornecedor.label }}
        {{ form_adicionar_item_ordem_venda.pesquisar_fornecedor(class="form-control") }}
      </div>
      {{ form_adicionar_item_ordem_venda.botao_pesquisar_item(class="btn btn-primary mt-3") }}
      <div  class="borda_simples  container_com_barra_rolagem">
          <table class="table table-hover table-striped" style="position:sticky" cellpadding="2" cellspacing="2">
        <thead>
          <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed ">
            <th>
            </th>
            <th>DESCRICAO</th>
            <th>FORNECEDOR</th>
            <th>EAN</th>
            <th>VALOR</th>
          </tr>
        </thead>
        <tbody>
          {% if ordem_venda is not none %}
          {% if resultado_pesquisa_produtos %}
            {% for i in resultado_pesquisa_produtos %}
          <tr>
            <td>
                <form method="POST">
                    {{form_adicionar_item_ordem_venda.hidden_tag()}}
                    <input type="hidden" name="incluir_item_ordem_venda_selecionado" value="{{ i[3] }}">
                        {{form_adicionar_item_ordem_venda.botao_selecionar_item(class='btn btn-sm btn-outline-primary')}}
                </form>
            </td>
            <td>{{ i[4] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[7] }}</td>


          </tr>

          {% endfor %}
          {% else %}
          {% endif %}
          {% endif %}
        </tbody>
      </table>
      </div>

    </section>

    <section class="box bottom">
      <table class="table table-hover table-striped" style="position:sticky" cellpadding="2" cellspacing="2"   id="tabela-itens">
            <thead>
                <tr class="cab_tabela">
                    <th>DATA</th>
                    <th>ORDEM VENDA</th>
                    <th>CLIENTE</th>
                    <th>ITEM</th>
                    <th>CODIGO</th>
                    <th>FORNECEDOR</th>
                    <th>DESCRICAO</th>
                    <th>EAN</th>
                    <th>UN</th>
                    <th>TABELA</th>
                    <th>PRECO LISTA</th>
                    <th>PRECO VENDA</th>
                    <th>QTDE</th>
                    <th>ACRES/DESC</th>
                    <th>TOTAL</th>
                    <th>USUARIO</th>
                    <th>STATUS</th>
                </tr>
            </thead>
        <tbody>
                {% if resultado_pesquisa is not none %}
                   {% for i in resultado_pesquisa %}
                    <tr>
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[17]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                        <td>{{i[6]}}</td>
                        <td>{{i[7]}}</td>
                        <td>{{i[8]}}</td>
                        <td>{{i[9]}}</td>
                        <td>{{i[10]}}</td>
                        <td>{{i[11]}}</td>
                        <td>{{i[12]}}</td>
                        <td>{{i[13]}}</td>
                        <td>{{i[14]}}</td>
                        <td>{{i[15]}}</td>

                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="17   ">Nenhum item incluído</td>
                    </tr>
                {% endif %}
                </tbody>

      </table>

    </section>
  </div>
  <!-- Rodapé fixo para mensagens/alerts -->
  <footer class="w3-container w3-center w3-padding w3-light-grey"
          style="position:fixed; bottom:0; left:0; width:100%; z-index:1000;">

    {% if alert_message %}
    {% if alert_type == "success" %}
    <div class="w3-panel w3-green">
      <p>{{ alert_message }}</p>
    </div>
    {% elif alert_type == "error" %}
    <div class="w3-panel w3-red">
      <p>{{ alert_message }}</p>
    </div>
    {% elif alert_type == "warning" %}
    <div class="w3-panel w3-yellow">
      <p>{{ alert_message }}</p>
    </div>
    {% else %}
    <div class="w3-panel w3-blue">
      <p>{{ alert_message }}</p>
    </div>
    {% endif %}
    {% endif %}

  </footer>
</form>

{% endblock %}
</body>