{% extends "base.html" %}
{% block content %}
<title>{% block title %}Mod Comercial | Editar Ordem de Venda{% endblock %}</title>
<p>TELA EDITAR ORDEM DE VENDA</p>



<body>
    <form action="" method="POST">
    {{ form_editar_ordem_venda.csrf_token }}

    <div class="page">
        <section class="box top-left">
            <div class="col form-label btn btn-light">
               {{form_editar_ordem_venda.data.label }}
               {{form_editar_ordem_venda.data(class="form-control tam_campo_data",  value=data)}}
            </div>
            <div class="col form-label btn btn-light">
               {{form_editar_ordem_venda.pesquisar_ordem_venda.label}}
               {{form_editar_ordem_venda.pesquisar_ordem_venda}}
            </div>
            <div class="col form-label btn btn-light">
               {{form_editar_ordem_venda.botao_pesquisar_ordem_venda(class="btn btn-primary mt-3")}}
               {{form_editar_ordem_venda.botao_excluir_ordem_venda(class="btn btn-secondary mt-3", onclick="return confirm('Tem certeza de que deseja excluir esta ordem?')") }}
            </div>
            <script src="static/js/pesquisa_produto.js" defer></script>
        </section>

        <section class="box top-right">
            <br>
                {% if linha_para_editar is not none %}


                    <div class="form-label btn btn-light">
                        {{form_editar_ordem_venda.pesquisar_descricao.label(class="form-label" )  }}
                        {{form_editar_ordem_venda.pesquisar_descricao(class="form-control tam_campo_descricao", value=descricao, id="pesquisar_descricao") }}
                    </div>
                    <div class="form-label btn btn-light">
                        {{form_editar_ordem_venda.adicionar_quantidade.label(class="form-label" )  }}
                        {{form_editar_ordem_venda.adicionar_quantidade(class="form-control tam_campo_quantidade_grande", value=quantidade, id="adicionar_quantidade") }}
                    </div>
                    <div class="form-label btn btn-light">
                        {{form_editar_ordem_venda.adicionar_preco_unitario.label(class="form-label" )  }}
                        {{form_editar_ordem_venda.adicionar_preco_unitario(class="form-control tam_campo_quantidade_grande", value=val_unitario, id="adicionar_preco_unitario") }}
                    </div>

                {% endif %}
                <footer class="w3-container w3-teal">
                    {{form_editar_ordem_venda.botao_salvar_item_adicionado(class='form-label class = btn btn-primary')}}
                    {{form_editar_ordem_venda.botao_descartar_item_adicionado(class='form-label class = btn btn-secondary')}}
                </footer>
        </section>

    <section class="box bottom">
        <table class="table table-hover table-striped" style="position:sticky" cellpadding="2" cellspacing="2" id="tabela-itens">
            <thead>
                <tr class="cab_tabela">
                    <th>DATA</th>
                    <th>ORDEM VENDA</th>
                    <th>CLIENTE</th>
                    <th>ITEM</th>
                    <th>CODIGO</th>
                    <th>FORNECEDOR</th>
                    <th>DESCRICAO</th>
                    <th>EAN</th>
                    <th>UN</th>
                    <th>TABELA</th>
                    <th>PRECO LISTA</th>
                    <th>PRECO VENDA</th>
                    <th>QTDE</th>
                    <th>ACRES/DESC</th>
                    <th>TOTAL</th>
                    <th>USUARIO</th>
                    <th>STATUS</th>
                </tr>


            </thead>
            <tbody>
                {% if resultado_pesquisa is not none %}
                   {% for i in resultado_pesquisa %}
                    <tr>
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[17]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                        <td>{{i[6]}}</td>
                        <td>{{i[7]}}</td>
                        <td>{{i[8]}}</td>
                        <td>{{i[9]}}</td>
                        <td>{{i[10]}}</td>
                        <td>{{i[11]}}</td>
                        <td>{{i[12]}}</td>
                        <td>{{i[13]}}</td>
                        <td>{{i[14]}}</td>
                        <td>{{i[15]}}</td>
                        <td>
                            <form method="POST">
                                {{ form_editar_ordem_venda.hidden_tag() }}
                                    <input type="hidden" id='myBtn' name="editar__item" value="{{ i[6] }}"><!-- value será chadado no arquivo main.py no acionamento do botao -->
                                {{ form_editar_ordem_venda.botao_editar_item(class='btn btn-sm btn-outline-primary') }}

                            </form>
                        </td>
                        <td>
                            <form method="POST">
                                {{form_editar_ordem_venda.hidden_tag() }}
                                    <input type="hidden" name="excluir__item" value="{{ i[7] }}"><!-- value será chadado no arquivo main.py no acionamento do botao -->
                                {{form_editar_ordem_venda.botao_excluir_item(class='btn btn-sm btn-outline-primary' , onclick="return confirm('Tem certeza de que deseja excluir este item ?')") }}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="17   ">Nenhum item incluído</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
    </section>
</div>
  </form>
</body>
{% endblock %}
