{% extends "base.html" %}
{% block content %}

<title>{% block title %}Mod Comercial | Gerar Ordem de Venda{% endblock %}</title>

<form method="POST">

    {{ form_gerar_ordem_venda.hidden_tag() }}
    <div class="page">

        <section class="box top-left">
            {{ form_gerar_ordem_venda.botao_submit_ordem_venda(class="btn btn-primary mt-3") }}
            {{ form_gerar_ordem_venda.botao_limpar_ordem(class="btn btn-secondary mt-3") }}
            <h5><small class="text-body-secondary">Dados da Ordem</small></h5>
            <div  class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.data.label }}
                {{ form_gerar_ordem_venda.data(class="form-control tam_campo_data", value=data) }}
            </div>
            <div  class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.ordem_venda.label }}
                {{ form_gerar_ordem_venda.ordem_venda(class="form-control", value=ordem_venda) }}
            </div>
            <div  class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.cliente.label }}
                {{ form_gerar_ordem_venda.cliente(class="form-control", value=cliente, disabled=True if lista_ordem_venda else False ) }}
            </div>

            <h5><small class="text-body-secondary">Produto Selecionado</small></h5>
            <div  class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.cod_produto.label }}
                {{ form_gerar_ordem_venda.cod_produto(class="form-control tam_campo_100", value=tupla_linha_selecionada[0]) }}
            </div>
            <div  class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.ean.label }}
                {{ form_gerar_ordem_venda.ean(class="form-control tam_campo_150", value=tupla_linha_selecionada[1]) }}
            </div>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.descricao.label }}
                {{ form_gerar_ordem_venda.descricao(class="form-control tam_campo_300", value=tupla_linha_selecionada[2]) }}
            </div>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.unidade.label }}
                {{ form_gerar_ordem_venda.unidade(class="form-control tam_campo_50",  value=tupla_linha_selecionada[3]) }}
            </div>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.tabela.label }}
                {{ form_gerar_ordem_venda.tabela(class="form-control tam_campo_50", value=tupla_linha_selecionada[4]) }}
            </div>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.quantidade.label }}
                {{ form_gerar_ordem_venda.quantidade(class="form-control tam_campo_100", value=1) }}
            </div>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.preco_unitario.label }}
                {{ form_gerar_ordem_venda.preco_unitario(class="form-control tam_campo_100", value=tupla_linha_selecionada[5]) }}
            </div>
              <button type="submit" name="botao_incluir_item" class="btn btn-success mt-3" id="botao_incluir_item">Incluir Item</button>
            <div class="jumbotron jumbotron-fluid">
                <h4>Total Pedido: R$ {{ total_pedido }}</h4>
            </div>
    </section>

    <section class="box top-right">
        <div>
        <h5><small class="text-body-secondary">Pesquisar Produto</small></h5>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.pesquisa_descricao.label }}
                {{ form_gerar_ordem_venda.pesquisa_descricao(class="form-control") }}
            </div>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.pesquisa_categoria.label }}
                {{ form_gerar_ordem_venda.pesquisa_categoria(class="form-control") }}
            </div>
            <div class="col form-label btn btn-light">
                {{ form_gerar_ordem_venda.pesquisa_ean.label }}
                {{ form_gerar_ordem_venda.pesquisa_ean(class="form-control") }}
            </div>
            <button type="submit" name="botao_pesquisar_item" class="btn btn-primary">Pesquisar</button>
            <!-- Coluna Direita: Lista de Produtos -->
            <h5><small class="text-body-secondary">Lista de Produtos</small></h5>
            <div  class="container_com_barra_rolagem" style="top: -1px">
                    <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Descrição</th>
                    <th>Fornecedor</th>
                    <th>EAN</th>
                    <th>Un</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>
                {% if lista_produtos %}
                {% for i in lista_produtos %}
                <tr>
                    <td>
                        <button type="submit" name="botao_selecionar_item" value="{{ i[3] }}" class="btn btn-sm btn-outline-primary">+</button>
                    </td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[7] }}</td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Nenhum produto encontrado</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
                </div>
            </div>
    </section>
    <section class="box bottom">
        <table class="table table-hover table-striped">
            <thead>
                <tr>

                    <th>Data</th>
                    <th>Ordem Venda</th>
                    <th>Cod Cliente</th>
                    <th>Destinatário</th>

                    <th>Item</th>
                    <th>Código Produto</th>
                    <th>Fornecedor</th>
                    <th>Descrição</th>
                    <th>EAN</th>
                    <th>Un</th>
                    <th>Tabela</th>
                    <th>Pr. Lista</th>
                    <th>Pr. Venda</th>
                    <th>Quant</th>
                  <th>Acres/Desc</th>
                    <th>Total Pedido</th>
                    <th>Usuário</th>
                  <th>Ação</th>
                </tr>
            </thead>
        <tbody>
            {% if lista_ordem_venda %}
              {% for i in lista_ordem_venda %}
            <tr>
                <td>{{ data }}</td>  <!-- Data -->
                <td>{{i[6]}}</td>
                <td>{{ i[13][0] }}</td>
                <td>{{ i[13][1] }}</td>

                <td>{{loop.index}}</td>
                <td>{{i[0]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[11]}}</td>
                <td>{{i[8]}}</td>
                <td>{{i[12]}}</td>
                <td>{{i[9]}}</td>
                <td>{{i[10]}}</td>


                <td>
                    <form method="POST" style="display:inline;">
                        {{ form_gerar_ordem_venda.hidden_tag() }}
                        <button class="btn btn-sm btn-outline-danger" name="botao_remover_item" value="{{ i[1] }}">x</button>
<!--                        {{ form_gerar_ordem_venda.botao_remover_item(class="btn btn-sm btn-outline-danger", value=i[1]) }}-->
                    </form>
                </td>

            </tr>
              {% endfor %}
            {% else %}
              <tr>
                  <td colspan="16   ">Nenhum item incluído</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
    </section>
  </div>


    </form>


{% endblock %}
