{% extends "base.html" %}
{% block content %}

<title>{% block title %}Mod Comercial | Incluir Pedido{% endblock %}</title>
TELA INCLUIR PEDIDO DE VENDA
<div class="div_secundaria">
    <form action="" method="POST">
        {{ form_incluir_pedido_venda.csrf_token }}
        <div class="mb-3">
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.data.label }}
                {{ form_incluir_pedido_venda.data(class="form-control") }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.cod_pedido.label }}
                {{ form_incluir_pedido_venda.cod_pedido(class="form-control") }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.cliente.label }}
                {{ form_incluir_pedido_venda.cliente(class="form-control") }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.razao_social.label }}
                {{ form_incluir_pedido_venda.razao_social(class="form-control") }}
           </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.cod_produto.label }}
                {{ form_incluir_pedido_venda.cod_produto(class="form-control") }}
           </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.ean.label }}
                {{ form_incluir_pedido_venda.ean(class="form-control") }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.descricao.label }}
                {{ form_incluir_pedido_venda.descricao(class="form-control") }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.unidade.label }}
                {{ form_incluir_pedido_venda.unidade(class="form-control") }}
            </div>
            <div class="col form-label mt-4 btn btn-light">
                {{ form_incluir_pedido_venda.quantidade.label }}
                {{ form_incluir_pedido_venda.quantidade(class="form-control") }}
            </div>
            <div>
                {{ form_incluir_pedido_venda.botao_submit_cad_fornecedor(class="btn btn-primary") }}
            </div>

    </div>
    </form>
    <div class="mt-5">
        <table class="table table-striped" id="tabela-itens">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Codigo Pedido</th>
                    <th>Cliente</th>
                    <th>Código</th>
                    <th>EAN</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                crie um dicionário em python para armazenar cada linha da ordem de compra<br>
                antes de serem armazenadas no bancodedados
                aquim e na gerar ordem de saída, podemos pensar em criar uma div à esquerda, de modo <br>
                que a tabela seja mostrada à direita
            </tbody>
        </table>
    </div>
</div>
{% endblock %}