<div class="navbar">

<div class="has-submenu">
  <a href="#news">Admin</a>
  <div class="submenu">
    <a href="#news1">Cadastrar Usuário</a>
    <a href="#news2">Editar Usuário</a>
    <a href="#news3">Editar Registro</a>
  </div>
</div>

  <!-- menu compras -->
  <div class="has-submenu">
    <a href="#">Compras</a>
    <div class="submenu">
      <a class="nav-link" href="{{ url_for('cadastrar_fornecedores')}}">Cadastrar Fornecedores</a>
      <a class="nav-link" href="{{ url_for('cadastrar_produtos')}}">Cadastrar Produtos</a>
      <a class="nav-link" href="{{ url_for('gerar_ordem_compra')}}">Gerar Ordem de Compra</a>
      <a class="nav-link" href="{{ url_for('analisar_ordem_de_compra')}}">Analisar Ordens</a>
      <a class="nav-link" href="{{ url_for('relatorios_compras')}}">Relatórios</a>
    </div>
  </div>

  <div class="has-submenu">
    <a href="#news">Comercial</a>
    <div class="submenu">
      <a class="nav-link" href="{{ url_for('cadastrar_clientes')}}">Cadastrar Cliente</a>
      <a class="nav-link" href="{{ url_for('incluir_pedido_venda')}}">Incluir Pedido de Venda</a>
      <a href="#news3">Relação de pedidos</a>
      <a href="#news4">Relatórios</a>

    </div>
  </div>

  <div class="has-submenu">
    <a href="#news">Pricing</a>
    <div class="submenu">
      <a class="nav-link" href="{{ url_for('cadastrar_tabela')}}">Cadastrar Tabela</a>
      <a href="#news1">Relatórios</a>
    </div>
  </div>

  <div class="has-submenu">
    <a href="#news">Logistica</a>
    <div class="submenu">
      <a class="nav-link" href="{{ url_for('entrada_ordem_compra')}}">Entrada de Pedidos</a>
      <a href="#news2">Pedidos Pendentes</a>
      <a href="#news2">Separar Pedidos</a>
      <a href="#news3">Relatórios</a>
      <a href="#news3">Cadastrar Transportador</a>
    </div>
  </div>

  <div class="has-submenu">
    <a href="#news">Financeiro</a>
    <div class="submenu">
      <a href="#news1">Contas a Pagar</a>
      <a href="#news2">Contas a Receber</a>
      <a href="#news2">Análise de Crédito</a>
      <a href="#news3">Relatórios Financeiros</a>

    </div>
  </div>

  <div class="has-submenu">
    <a href="#">Teste</a>
    <div class="submenu">
      <a class="nav-link" href="{{ url_for('teste')}}">TESTE TABELA</a>

    </div>
  </div>

  <div class="has-submenu">
    <a href="#contact">Contato</a>
  </div>
  <a href="#about">Sobre</a>
  <a href="#about">Sair</a>



</div>
