{% block content %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de pesquisa</title>
    <link rel="stylesheet" href="{{ url_for('gerar_ordem_compra', filename='static/css/stylesheet.css') }}">
</head>

<table class="table table-hover table-striped  " style="position:sticky" cellpadding="2" cellspacing="2">
<tbody>
    <tr>
        <th>DESCRIÇÃO</th>
        <th>UNIDADE</th>
        <th>CATEGORIA</th>
        <th>CÓDIGO</th>
        <th>EAN</th>
    </tr>
    {% for i in relatorio_produtos %}
        <tr class="width:100%  height:100% table table-hover table-bordered table-striped table-sm table-layout:fixed ">

            <td >{{ i[4] }}</td>
            <td>{{ i[5] }}</td>
            <td>{{ i[6] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[3] }}</td>
        </tr>
    {% endfor %}

</tbody>

</table>

</html>
{% endblock %}