{% extends "base.html" %}

{% block content %}
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
REGRAS DO NEGÓCIO <BR>

ATORES<BR>

1 - ADMIN: CRIACAO DE USUÁRIOS, GESTÃO DE ACESSOS, AJUSTES DE PARAMETROS, <BR>
2 - COMPRAS: CADASTRO FORNECEDORES, CADASTRO DE PRODUTOS, ANÁLISES DE NF,<BR>
3 - COMERCIAL - CADASTRA CLIENTES, INCLUI PEDIDOS DE VENDA,<BR>
4 - PRICING - CADASTRA E EDITA TABELAS DE PREÇOS<BR>
5 - LOGISTICA - ENTRADA DE ORDEM DE COMPRA, SAÍDA DE PEDIDOS DE VENDA, CADASTRA TRANSPORTADORES,<BR>
6 - FINANCEIRO - FAZ A GESTÃO DE CONTAS A PAGAR E À RECEBER<BR>
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
COMPRAS<BR>
    - CADASTRAR FORNECEDORES<BR>
    - CADASTRAR PRODUTOS<BR>
    - CADASTRAR CATEGORIAS<BR>
    - CADASTRAR UNIDADES DE MEDIDA<BR>
</div>

<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
COMERCIAL<BR>
    - CADASTRAR CLIENTES<BR>
    - CADASTRAR PEDIDOS DE VENDA<BR>
    - CADASTRAR TABELAS DE PREÇOS<BR>
</div>
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
PRICING<BR>
    - CADASTRA E EDITA TABELA DE PREÇOS<BR>
</div>
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
LOGISTICA
    - ENTRADA DE ORDEM DE COMPRA<BR>
    - SAÍDA DE PEDIDOS DE VENDA<BR>
    - CADASTRA TRANSPORTADORES<BR>

</div>
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
FINANCEIRO<BR>
</div>

<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
CLASSE GERAR ORDEM DE COMPRA <BR>
    ESTRUTURA<BR>
</div>

</div>

<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
PASSO A PASSO PARA INCLUIR UMA NOVA PAGINA<BR>
    1 - CRIAR O ARQUIVO HTML<BR>
    2 - CRIAR O ATALHO NO NAVBAR<BR>
    3 - CRIAR O ARQUIVO.PY NO MODULO<BR>
    4 - CRIAR A FUNÇÃO NO MAIN.PY E CHAMAR A FUNÇÃO DO MODULO<BR>
</div>



{% endblock %}