{% extends "base.html" %}
{% block content %}



<p>Área para criação de telas</p>
<div>
    Sites para estudo:
    html:
    <a href="">https://www.w3schools.com/</a><br>

    css:
 <a href="">https://getbootstrap.com/</a><br>
 <a href="">https://tailwindcss.com/</a>


</div>


<canvas id="animationCanvas" width="800" height="600"></canvas>
    <script src="animation.js"></script>


<script>

    const canvas = document.getElementById('animationCanvas');
const ctx = canvas.getContext('2d');

let x = canvas.width / 2;
let y = canvas.height / 2;
let dx = 2;
let dy = 2;
const ballRadius = 10;

function drawBall() {
    ctx.beginPath();
    ctx.arc(x, y, ballRadius, 0, Math.PI * 2);
    ctx.fillStyle = "#0095DD";
    ctx.fill();
    ctx.closePath();
}

function update() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    drawBall();

    // Verificar colisão com as bordas e inverter a direção se necessário
    if (x + dx > canvas.width - ballRadius || x + dx < ballRadius) {
        dx = -dx;
    }
    if (y + dy > canvas.height - ballRadius || y + dy < ballRadius) {
        dy = -dy;
    }

    x += dx;
    y += dy;

    requestAnimationFrame(update);
}

update();
</script>
{% endblock %}