{% extends "base.html" %}
{% block content %}

<div class="container-fluid vh-100 d-flex flex-column">

    <h5 class="mt-2">Resumo de Pedidos</h5>

    <div class="flex-shrink-0" style="height: 30vh; overflow-y: auto;">
        <form action="" method="POST">
            {{ form_gestao_carteira.csrf_token }}

            <table class="table table-sm table-bordered table-hover align-middle mb-0">
                <thead class="table-primary sticky-top">
                    <tr>
                        <th style="width:50px">Sel.</th>
                        <th style="width:50px">Alocar</th>
                        <th style="width:30px"></th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>OV</th>
                        <th>Cód Cliente</th>
                        <th>Cliente</th>
                        <th class="text-end">Total</th>
                    </tr>
                </thead>

                <tbody>
                {% for i in lista_ordem_venda %}
                    <tr>
                        <!-- RADIO = navegação -->
                        <td class="text-center">
                            <input type="radio"
                                   name="ordem_venda"
                                   value="{{ i[0] }}"
                                   class="form-check-input"
                                   onchange="this.form.submit()"
                                   {% if ordem_selecionada == i[0] %}checked{% endif %}>
                        </td>

                        <!-- CHECKBOX = ação -->
                        <td class="text-center">
                            <input type="checkbox"
                                   name="ordem_alocada"
                                   value="{{ i[0] }}"
                                   class="form-check-input"
                                   {% if i[0] in ordem_alocada %}checked{% endif %}>
                        </td>

                        <td>🟢</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>

                        <td class="text-end">
                            {{ "{:,.2f}".format(i[5] | float)
                                .replace(",", "X")
                                .replace(".", ",")
                                .replace("X", ".") }}
</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- botão futuro de ação -->
            {{ form_gestao_carteira.botao_liberar_ov }}

        </form>
    </div>

    <hr class="my-2">

    <h5>Itens do Pedido Selecionado</h5>

    <div class="flex-grow-1" style="overflow-y:auto">
        <table class="table table-sm table-bordered table-hover align-middle mb-0">
            <thead class="table-secondary sticky-top">
                <tr>
                    <th>Status</th>
                    <th>Item</th>
                    <th>Cód</th>
                    <th>Descrição</th>
                    <th>EAN</th>
                    <th>UN</th>
                    <th>Preço</th>
                    <th>Total</th>
                    <th>Quant Ordem Venda</th>
                    <th>Qtd Estoque Alocado</th>
                    <th>Qtd Estoque Livre</th>
                    <th>Qtd Estoque Total</th>

                </tr>
            </thead>
            <tbody>
            {% for i in lista_itens_ordem_expandida %}
                <tr>
                    <td>
                        {% if i[10] | int >= i[8] | int %}🟢
                            {% elif i[10] | int > 0 %} 🟡
                            {% else %}🔴
                        {% endif %}
                    </td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[7] }}</td>
                    <td>{{ "%.2f"|format(i[9] | float)}}</td>
                    <td>{{ i[8] }}</td>
                    <td>{{ i[11] }}</td>
                    <td>{{ i[12] }}</td>
                    <td>{{ i[10] }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
