{% extends "base.html" %}

{% block content %}
TELA CADASTRAR PRODUTOS ---SEM USO
<div class="container p-3 mb-3 border border-1 border-primary p-2 mb-2 div_principal">
    <form action="" method="POST">
        {{ form_gerar_ordem_compra.csrf_token }}


        <div class="mb-3">
            <div class="col form-label mt-4 btn btn-light">

            </div>
            <div></div>
            <div>
                {{ form_gerar_ordem_compra.ordem_compra(class="form-control") }}
            </div>



        </div>

    </form>
</div>
{% endblock %}